.App {
  text-align: center;

  background-image: url("../images/demo-bg-light.svg");
  background-repeat: repeat !important;
  background-position: 50% calc(50% + 40px), center calc(50% + -100px);
  background-size: 100px 20px !important;

  padding: 15px 4vmin 15px;
}

#header {
  width: 100%;
  text-align: left;
}

#logo {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.App-header {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

#hero-links {
  margin-top: 60px;
}

#hero-links a {
  padding: 20px;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
}

#hero-links a:hover {
  cursor: pointer;
  font-size: 1.2em;
}

#hero-links a.highlighted {
  color: green;
}
